* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e5e5e5;
}

.container__skew {
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, #ff0000, #ff00ff);
  /*border-radius: 20%;
  */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  animation: spin 2s linear infinite;
  transition: all ease-in-out 0.1s;
  transform: skew(40deg);
}

.container__skew:hover {
  transform: skew(0deg);
}
