* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e8e8e8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  gap: 50px;
}

.nav li ul {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
  transition-delay: 300ms;
  z-index: 1;
  width: 200px;
  background: #fff;
}

.nav li:hover > ul {
  opacity: 1;
  transition: 0.4s ease all;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;
  padding: 10px;
  margin-top: 10px;
  transition: opacity 400ms;
  transition-delay: 300ms;
}

.nav li ul li {
  position: relative;
  margin-bottom: 0.75rem;
}

.nav li ul li {
  /* right: -80px; */
}

.dpto {
  font-size: 1.1rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: #313131;
}
