* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e8e8e8;
}

.container__general {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.container:hover .pelota {
  transform: translateY(-30px);
  background: #07a4ff;
}

.pelota {
  width: 100px;
  height: 100px;
  background: #f00;
  border-radius: 50%;
  animation: pelota 1s infinite;
}
